* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-contrast-color);
  letter-spacing: 1px;
}

.news-section {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.app {
  max-width: 1440px;
  margin: auto auto;
  padding-bottom: 2em;
}

@media (min-width: 900px) {
  .app {
    margin: 0 2em;
  }
}