
.main-articles {
  gap: 2em;
}

.article-image {
  width: 100%;
}

.article-title {
  font-size: 1.2rem;
}

.article-description,
.article-title {
  padding: .5rem;
}

// .article-description {
//   padding-bottom: 1.5rem;
// }